/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body{
    background-color: blanchedalmond;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 75px;
    padding: 100px 130px;
}

header a{
    text-decoration: none;
    color: blanchedalmond;
}

a{
    text-decoration: none;
    color: black;
}

/* Logo */
header .logo img{
    height: 120px;
    width: auto;
}

header h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: blanchedalmond;
}
/* Enlaces de navegacion */
header nav ul li{
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 200px; 
}




/* AGREGAR CARRITO AL LADO DE CONTACTO */


/* MAIN */

main{
    flex-grow: 1;
    margin-bottom: auto;
}

/* Futuro boton plegable */

main h2{
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    font-style: italic;

}

/* Productos */

.divProductos{
    text-align: center;
}


.divProductos .divProductoProductos {
    display: inline-block;
    margin: 50px 150px;
    text-align: center;
  }

.divProductoProductos img{
    margin-top: 20px;
    width: 300px;
}

.divProductos .divProductoProductos h3 {
    font-size: 20px; 
}


/* Cuenta */

.botones{
    margin-top: 20px;
    text-align: left;
    margin-left: 30px;
}

.boton{
    display: inline-block;
    margin-right: 25px;
}




/* Carrito */

.divCarrito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
  
.divCarrito .divProductoCarrito {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
  
.divProductoCarrito img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    object-fit: cover;
}

.divProductoCarritoEliminar {
    margin-left: 200px;
    size: 10px;
}

.divPagofinalCarrito{
    text-align: right;
}


/* Contacto */

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 50px;    
}

.menu{
    margin-top: 5px;
    width: 300px;
    grid-column: 1/2;
}

main fieldset legend{
    font-size: 25px;
}

.mapa{
    margin-top: 100px;
    grid-column: 2/3;
}

.mapa p{
    text-align: center;
    font-size: large;
}

main form{
    margin-left: 20px;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="number"],
main form input[type="password"] {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
} 



main form fieldset {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

main .refprod{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
}

main .form-row {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
/* FOOTER */

footer{
    background-color: black;
    padding: 10px 10px;
    text-align: center;
    color: blanchedalmond;
}

footer div a{
    color: blanchedalmond;
}

footer .wpp{
        position: fixed;
        bottom: 2px;
        right: 2px;
        width: 200px;
        z-index: 2;
}


    

 
