main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto .divBotonesDetalleDescripcionProducto button, main .divLogin .divFormLogin .divBotonesFormLogin .divBotonBotonesFormLogin button, main .divCarrito .divPagofinalCarrito button, main .divFormulario .divContenedorFormulario form .divBotonFormulario input[type="submit"],
main .divFormulario .divContenedorFormulario form .divBotonFormulario input[type="reset"] {
  padding: 10px 22px;
  font-size: 16px;
  background-color: #0a396b;
  color: #fff; }

main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto .divBotonesDetalleDescripcionProducto button:hover, main .divLogin .divFormLogin .divBotonesFormLogin .divBotonBotonesFormLogin button:hover, main .divCarrito .divPagofinalCarrito button:hover, main .divFormulario .divContenedorFormulario form .divBotonFormulario input[type="reset"]:hover,
main .divFormulario .divContenedorFormulario form .divBotonFormulario input[type="submit"]:hover {
  background-color: #000000;
  color: white; }

body {
  background: linear-gradient(to bottom right, #FFEBCD, #fffbfd);
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 22px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px;
  background-color: #000000; }
  header .dropdown-menu {
    background-color: #FFEBCD;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    text-decoration: none; }
  header nav a.nav-link {
    text-decoration: none;
    color: #FFEBCD;
    padding: 8px 12px; }
  header .navbar-collapse {
    top: 100%;
    background-color: #000000;
    padding: 10px;
    width: 100%;
    max-height: 200px;
    z-index: 2; }
  header .logo img {
    height: 90px;
    width: auto;
    margin-right: 10px; }
  header .ButtonMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 45px;
    margin-left: 10px;
    justify-content: flex-end; }
    header .ButtonMenu img {
      height: 30px;
      width: auto; }

main {
  flex-grow: 1;
  margin-bottom: auto; }
  main h1 {
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 64px; }
  main .divProductos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 50px;
    position: relative;
    overflow: hidden; }
    main .divProductos .divProductoProductos {
      text-align: center;
      margin-bottom: 20px; }
      main .divProductos .divProductoProductos h3 {
        font-style: 16px;
        color: #000000; }
      main .divProductos .divProductoProductos a {
        text-decoration: none; }
      main .divProductos .divProductoProductos img {
        margin-top: 20px;
        width: 60%;
        transition: transform 0.3s ease; }
      main .divProductos .divProductoProductos:hover img {
        transform: scale(1.1);
        margin-bottom: 30px; }
  main .divProducto {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    main .divProducto .divImagenProducto {
      margin: 50px;
      justify-self: center; }
      main .divProducto .divImagenProducto img {
        margin: 30px;
        width: 380px;
        height: 600px;
        justify-content: center; }
    main .divProducto .divDescripcionProducto {
      margin-top: 75px;
      margin-right: 250px;
      justify-self: right;
      align-self: start; }
      main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto .divGenericoDetalleDescripcionProducto {
        font-size: 22px;
        font-weight: bold; }
      main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto .divParrafoDetalleDescripcionProducto {
        margin-top: 15px;
        margin-bottom: 50px; }
        main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto .divParrafoDetalleDescripcionProducto p {
          font-style: 28px; }
  main .divLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; }
    main .divLogin .divFormLogin {
      padding: 20px;
      background-color: #FFEBCD;
      text-align: center;
      border: 1px solid black;
      box-sizing: border-box; }
      main .divLogin .divFormLogin h1 {
        text-align: center;
        font-family: "Roboto Slab", serif;
        font-size: 64px; }
      main .divLogin .divFormLogin .divUserFormLogin,
      main .divLogin .divFormLogin .divPassFormLogin {
        font-size: 28px; }
      main .divLogin .divFormLogin .divUserFormLogin input[type="text"],
      main .divLogin .divFormLogin .divPassFormLogin input[type="password"] {
        padding: 12px;
        font-size: 22px;
        margin-bottom: 30px; }
      main .divLogin .divFormLogin .divBotonesFormLogin {
        display: flex;
        justify-content: center;
        align-items: center; }
        main .divLogin .divFormLogin .divBotonesFormLogin .divBotonBotonesFormLogin {
          margin-right: 10px; }
  main .divCarrito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 10px; }
    main .divCarrito h1 {
      text-align: center;
      font-family: "Roboto Slab", serif;
      font-size: 64px; }
    main .divCarrito .divProductoCarrito {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px; }
      main .divCarrito .divProductoCarrito img {
        width: 200px;
        height: 200px;
        margin-right: 20px;
        object-fit: cover; }
      main .divCarrito .divProductoCarrito .divProductoCarritoEliminar {
        margin-left: auto; }
    main .divCarrito .divPagofinalCarrito {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 175px;
      flex-direction: column;
      grid-column: 2;
      grid-row: 1 / span 2;
      font-size: 24px; }
  main .divFormulario {
    display: flex;
    text-align: center;
    flex-direction: column; }
    main .divFormulario .divContenedorFormulario .divContactoContenedorFormulario h1 {
      text-align: center;
      font-family: "Roboto Slab", serif;
      font-size: 64px; }
    main .divFormulario .divContenedorFormulario form {
      flex-direction: column;
      justify-content: center; }
      main .divFormulario .divContenedorFormulario form .divMenuContactoContenedorFormulario {
        margin-top: 5px; }
      main .divFormulario .divContenedorFormulario form div {
        text-align: center;
        margin-bottom: 25px; }
        main .divFormulario .divContenedorFormulario form div label {
          display: block;
          text-align: center; }
        main .divFormulario .divContenedorFormulario form div input[type="text"],
        main .divFormulario .divContenedorFormulario form div input[type="email"],
        main .divFormulario .divContenedorFormulario form div input[type="number"],
        main .divFormulario .divContenedorFormulario form div input[type="password"] {
          display: block;
          width: 70%;
          padding: 10px;
          font-size: 18px;
          margin-bottom: 10px;
          margin: 0 auto;
          text-align: center;
          border: 1px solid #000000; }
      main .divFormulario .divContenedorFormulario form fieldset {
        padding: 10px;
        font-size: 22px;
        margin-bottom: 10px; }
      main .divFormulario .divContenedorFormulario form .divBotonFormulario {
        display: flex;
        justify-content: center;
        align-items: center; }
        main .divFormulario .divContenedorFormulario form .divBotonFormulario input[type="submit"],
        main .divFormulario .divContenedorFormulario form .divBotonFormulario input[type="reset"] {
          margin-left: 20px; }
    main .divFormulario .divMapaFormulario {
      align-self: center;
      margin-top: 20px;
      margin-bottom: 20px; }
      main .divFormulario .divMapaFormulario p {
        align-self: center;
        font-size: 24px; }

footer {
  background-color: #000000;
  padding: 10px 10px;
  text-align: center;
  margin-top: auto; }
  footer .contenededor {
    color: #FFEBCD; }
    footer .contenededor a {
      text-decoration: none;
      color: #FFEBCD; }
  footer .wpp img {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 75px;
    z-index: 2; }

@media screen and (min-width: 767px) and (max-width: 1023px) {
  main .divProductos {
    grid-template-columns: repeat(2, minmax(300px, 1fr)); }
    main .divProductos .divProductoProductos img {
      width: 70%; }
    main .divProductos .divProductoProductos h3 {
      font-size: 20px; }
  main .divProducto {
    display: flex;
    flex-direction: column; }
    main .divProducto .divImagenProducto {
      display: flex;
      justify-content: center; }
    main .divProducto .divDescripcionProducto {
      width: 100%;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto {
        text-align: center; }
        main .divProducto .divDescripcionProducto .divDetalleDescripcionProducto .divBotonesDetalleDescripcionProducto {
          text-align: center;
          margin-bottom: 20px; }
  main .divLogin {
    height: 50vh; }
    main .divLogin .divFormLogin {
      width: 80%;
      padding: 20px;
      background-color: #FFEBCD;
      text-align: center; }
      main .divLogin .divFormLogin h1 {
        margin-bottom: 30px; }
      main .divLogin .divFormLogin .divUserFormLogin,
      main .divLogin .divFormLogin .divPassFormLogin {
        margin-bottom: 20px; }
      main .divLogin .divFormLogin .BotonBotonesFormLogin {
        flex-direction: column;
        align-items: center; }
        main .divLogin .divFormLogin .BotonBotonesFormLogin .BotonBotonesFormLogin {
          margin-bottom: 10px; }
  main .divFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    main .divFormulario .divContenedorFormulario {
      width: 90%; }
      main .divFormulario .divContenedorFormulario form {
        flex-direction: column; }
        main .divFormulario .divContenedorFormulario form .divContenedorFormulario label,
        main .divFormulario .divContenedorFormulario form .divContenedorFormulario input {
          margin-bottom: 10px; }
    main .divFormulario .divMapaFormulario {
      width: 90%;
      margin-top: 20px; }
      main .divFormulario .divMapaFormulario iframe,
      main .divFormulario .divMapaFormulario p {
        width: 500px;
        display: block;
        margin: 10px auto; }
    main .divFormulario .divCarrito {
      grid-template-columns: 1fr; }
      main .divFormulario .divCarrito .divPagofinalCarrito {
        margin-top: 20px;
        grid-column: 1;
        grid-row: 4; }
        main .divFormulario .divCarrito .divPagofinalCarrito p {
          margin-bottom: 10px;
          font-style: 24px; }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; } }

@media screen and (max-width: 767px) {
  main .divProductos {
    grid-template-columns: 1fr; }
    main .divProductos .divProductoProductos img {
      width: 60%; }
    main .divProductos .divProductoProductos h3 {
      font-size: 130%; }
  main .divProducto {
    display: flex;
    flex-direction: column; }
    main .divProducto .divImagenProducto {
      margin: 40px auto;
      display: block;
      justify-content: center; }
      main .divProducto .divImagenProducto img {
        justify-content: center;
        width: 220px;
        height: 350px; }
    main .divProducto .divDescripcionProducto {
      align-items: center;
      margin: 0 auto;
      text-align: center; }
      main .divProducto .divDescripcionProducto .divBotonesDetalleDescripcionProducto {
        margin-bottom: 40px; }
  main .divCarrito {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px; }
    main .divCarrito .divProductoCarrito {
      width: 80%;
      margin-bottom: 20px; }
      main .divCarrito .divProductoCarrito img {
        width: 150px;
        margin-right: 10px;
        object-fit: cover; }
    main .divCarrito .divPagofinalCarrito {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      text-align: center; }
      main .divCarrito .divPagofinalCarrito p {
        margin-bottom: 10px;
        font-size: 24px; }
  main .divLogin .divFormLogin {
    width: 80%;
    padding: 20px; }
    main .divLogin .divFormLogin h2 {
      margin-bottom: 30px; }
    main .divLogin .divFormLogin .divUserFormLogin,
    main .divLogin .divFormLogin .divPassFormLogin {
      margin-bottom: 20px; }
    main .divLogin .divFormLogin .divBotonesFormLogin .divBotonBotonesFormLogin {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px; }
  main .divFormulario {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .divFormulario .divContenedorFormulario {
      width: 90%; }
      main .divFormulario .divContenedorFormulario form .divContenedorFormulario label,
      main .divFormulario .divContenedorFormulario form .divContenedorFormulario input {
        margin-bottom: 10px; }
    main .divFormulario .divMapaFormulario {
      width: 90%;
      margin-top: 20px; }
      main .divFormulario .divMapaFormulario iframe,
      main .divFormulario .divMapaFormulario p {
        width: 310px;
        display: block;
        margin: 10px auto;
        font-size: 18px; } }
