
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilo global */
body{
    background-color: blanchedalmond;
    height: 100%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 75px;
    padding: 100px;
    background-color: rgb(0, 0, 0);
}

/* 
        header a{
            text-decoration: none;
            color: blanchedalmond;
        }
*/
a{
    text-decoration: none;
    color: black;
    }

/* Logo */
header .logo img{
    height: 120px;
    width: auto;
}

header .ButtonMenu img{
    height: 45px;
    width: auto;
}

a{
    text-decoration: none;
    color: white;
}

    /* header h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 50px;
        margin: 0;
        text-align: center;
        color: blanchedalmond;
    } */
/* Enlaces de navegacion */
        /* header nav ul li{
            display: inline-block;
            padding: 10px;
            font-size: 30px;
            margin-top: 50px;
            margin-left: 200px; 
        } */




/* AGREGAR CARRITO AL LADO DE CONTACTO */


/* MAIN */

main{
    flex-grow: 1;
    margin-bottom: auto;
}

/* Futuro boton plegable */

main h2{
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    font-style: italic;

}

/* Productos */

.divProductos{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 50px;
}

.divProductos .divProductoProductos {
    text-align: center;
  }

.divProductoProductos img{
    margin-top: 20px;
    width: 70%;    
}

.divProductos .divProductoProductos h3 {
    font-size: 20px;
    text-decoration: none;
    color: black; 
}

/* Producto */

.divProducto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divImagenProducto{
    margin: 30px;
    justify-self: center;
}

.divImagenProducto img{
    margin: 30px;
    width: 300px;
}

.divDescripcionProducto{
    margin-right: 250px;
    justify-self: right;
    align-self: start;
}

.divGenericoDescripcionProducto{
    font-size: 160px;

}


/* Cuenta */

.botones{
    margin-top: 20px;
    text-align: left;
    margin-left: 30px;
}

.boton{
    display: inline-block;
    margin-right: 25px;
}




/* Carrito */

.divCarrito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
}
  
.divCarrito .divProductoCarrito {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
  
.divProductoCarrito img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
}
  
.divProductoCarritoEliminar {
    margin-left: auto;
}
  
.divCarrito .divPagofinalCarrito {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1 / span 2;
    font-size: 24px;

}



/* Contacto */

.Formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 50px;    
}

.divMenuContactoContenedorFormulario{
    margin-top: 5px;
    width: 300px;
    grid-column: 1/2;
}

main fieldset legend{
    font-size: 25px;
}

.divMapaFormulario{
    margin-top: 200px;
    grid-column: 2/3;
}

.divMapaFormulario p{
    text-align: start;
    font-size: 20px;
}

main form{
    margin-left: 20px;
}

main form input[type="text"],
main form input[type="email"],
main form input[type="number"],
main form input[type="password"] {
  width: 500px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}




main form fieldset {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

main .refprod{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
}

main .form-row {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
/* FOOTER */

footer{
    background-color: black;
    padding: 10px 10px;
    text-align: center;
    color: blanchedalmond;
    margin-top: auto;
}

footer div a{
    color: blanchedalmond;
}

footer .wpp img{
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 75px;
        z-index: 2;
}


/* MQ de Mobile */

@media screen and (max-width: 767px) {

    /* Producto para Mobile */
    
    .divProducto {
      display: flex;
      flex-direction: column;
    }
  
    .divImagenProducto {
      margin: 40px auto;
      width: 60%;
      display: block;
    }
  
    .divDescripcionProducto {
      margin-right: 0;
      text-align: center;
    }
  
    .divGenericoDescripcionProducto {
      font-size: 40px;
    }
    
    .divBotonesDetalleDescripcionProducto{
        margin-bottom: 20px;
    }


    /* Carrito para Mobile */


    .divCarrito {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
      
    .divCarrito .divProductoCarrito {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
      
    .divCarrito .divProductoCarrito img {
        width: 150px;
        margin-right: 10px;
        object-fit: cover;
    }
    
    .divCarrito .divProductoCarritoEliminar {
        margin-left: 200px;
        size: 10px;
    }
    
    .divCarrito .divPagofinalCarrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .divCarrito .divPagofinalCarrito p {
        margin-bottom: 10px;
        font-size: 24px   
    }
}
