body{
    background-color: blanchedalmond;   //
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;       //
    margin-right: 20px; //
    font-size: 22px;    //
}

// HEADER

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
    background-color: black;   //

    .dropdown-menu{
        background-color: blanchedalmond;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
    }

    .logo img{
        height: 90px;
        width: auto;
        margin-right: 10px;
    }

    .ButtonMenu {
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 2;
    
        // Estilo del icono del menú hamburguesa (ajústalo según tus necesidades)
        img {
          height: 30px;
          width: auto;
        }
    } 
}

// MAIN

main{
    flex-grow: 1;  // Ver si es necesario
    margin-bottom: auto;

    h2{
        display: grid;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 50px;
        font-style: italic;
    }

    //Index

    .divProductos{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-gap: 50px;
        .divProductoProductos{
            text-align: center;
            margin-bottom: 20px;
            h3{
                font-style: 16px;
                text-decoration: none;
                color: black;
            }
            img{
                margin-top: 20px;
                width: 60%;
            }
        }

    }

    //Producto

    .divProducto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .divImagenProducto{
            margin: 50px;
            justify-self: center;
            img{
                margin: 30px;
                width: 380px;       // tamaño predeterminado imagen
                height: 600px;
                justify-content: center;
            }
        }
        .divDescripcionProducto{
            margin-top: 75px;
            margin-right: 250px;
            justify-self: right;
            align-self: start;
            .divDetalleDescripcionProducto{
                .divGenericoDetalleDescripcionProducto{
                    font-size: 22px;
                    font-weight: bold;
                }
                .divParrafoDetalleDescripcionProducto{
                    font-size: 20px;
                }
                .divBotonesDetalleDescripcionProducto button:hover{
                    background-color: darkblue; //color predeterminado botones
                }
                
            }
        }

    }

    // Cuenta

    .divLogin{      //Cambio de clases
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .divFormLogin{
            width: 400px;
            padding: 20px;
            background-color: blanchedalmond; //Color principal
            text-align: center;
            h2{         //H1 POR H2
                margin-top: 0;
            }
            .divUserFormLogin,
            .divPassFormLogin{
                font-size: 28px;
            }
            .divUserFormLogin input[type="text"],
            .divPassFormLogin input[type="password"] {
                width: 100%; /* Ancho del 100% */
                padding: 12px; /* Espacio interno del campo */
                font-size: 22px; /* Tamaño de la fuente */
                margin-bottom: 30px;
            }
            .BotonesFormLogin{
                display: flex;
                justify-content: center;
                .BotonBotonesFormLogin{
                    margin-right: 10px;
                    input[type="submit"]{ 
                        padding: 10px 20px;
                    }
                }
            }
        }
    }

    //Carrito

    .divCarrito{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        margin-left: 10px;
        .divProductoCarrito{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
            img{
                width: 200px;   //Global
                height: 200px;
                margin-right: 20px;
                object-fit: cover;
            }
            .divProductoCarritoEliminar{
                margin-left: auto;
            }
        }
        .divPagofinalCarrito{
            margin-top: 175px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-column: 2;
            grid-row: 1 / span 2;
            font-size: 24px;
        }
    }

    //Contacto CAMBIO EN HTML / AGREGAR REDES SOCIALES PARA EF

    .divFormulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 50px;
        .divMenuContactoContenedorFormulario {
            margin-top: 5px;
            grid-column: 1/2;
        }
        form {
            div {
                margin-bottom: 10px;
                width: 80%;
            }
            input[type="text"],
            input[type="email"],
            input[type="number"],
            input[type="password"] {
                width: 100%;
                padding: 10px;
                font-size: 18px;
                margin-bottom: 10px;
            }
            fieldset {
                padding: 10px;
                font-size: 22px;
                margin-bottom: 10px;
            }

            .divBotonFormulario{
                display: flex;
                justify-content: center;
                input[type="submit"]{
                    padding: 10px 20px;
                    margin-left: 20px;
                }
            } 
        }         
        .divMapaFormulario {
            grid-column: 2;
            align-self: center;
            margin-top: 20px;
            p {
                align-self: center;
                font-size: 24px;
            }
        }
        
    }

}

footer{
    background-color: black; //Color secundario    
    padding: 10px 10px;
    text-align: center;
    margin-top: auto;
    .contenededor{          // ARREGLAR EN FOOTER MAL TIPEO
        color: blanchedalmond; //Color principal
    }

    .wpp{
        img{
            position: fixed;
            bottom: 2%;
            right: 2%;
            width: 75px;
            z-index: 2;
        }
    }
    
}

//MQ de tablet
@media screen and (min-width: 767px) and (max-width: 1023px) {

    main{
        .divProductos{
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            .divProductoProductos{
                img{
                    width: 70%;
                }
                h3{
                    font-size: 20px;
                }
            }
        }
        .divProducto{
            display: grid;
            grid-template-columns: 1fr;
            .divImagenProducto{
                justify-self: center;
            }
            .divDescripcionProducto{
                margin-right: 0;
                text-align: center;
                .divDetalleDescripcionProducto{
                    .divBotonesDetalleDescripcionProducto{      //Boton
                        margin-bottom: 20px;
                    }
                }
            }
            
        }
        
        .divLogin{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            .divFormLogin{
                width: 80%;
                padding: 20px;
                background-color: blanchedalmond; // COlor principal
                text-align: center;
                h2{
                    margin-bottom: 30px;
                }
                .divUserFormLogin,
                .divPassFormLogin{
                    margin-bottom: 20px;
                }
                .BotonBotonesFormLogin{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .BotonBotonesFormLogin{
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .divFormulario{     //ARREGLAR
            display: flex;
            flex-direction: column;
            align-items: center;
            .divContenedorFormulario{
                width: 90%;
                form{
                    display: flex;
                    flex-direction: column;
                    .divContenedorFormulario label,
                    .divContenedorFormulario input{
                        margin-bottom: 10px;
                    }
                }
            }
            .divMapaFormulario{
                width: 90%;
                margin-top: 20px;
                iframe,
                p{
                    width: 500px;
                    display: block;
                    margin: 10px auto;
                }
            }



            .divCarrito{
                grid-template-columns: 1fr;
                .divPagofinalCarrito{
                    margin-top: 20px;
                    grid-column: 1;
                    grid-row: 4;
                    p{
                        margin-bottom: 10px;
                        font-style: 24px;
                    }
                }
            }
        }
        
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

}

//MQ para Mobile

@media screen and (max-width: 767px) {

    main{
        .divProductos{
            grid-template-columns: 1fr;
            .divProductoProductos{
                img{
                    width: 60%;
                }
                h3{
                    font-size: 80%;
                }
            }
        }

        .divProducto{
            display: flex;
            flex-direction: column;
            .divImagenProducto{
                // margin: 40px auto;
                width: 50%;
                display: block;
                justify-content: start;
            }
            .divDescripcionProducto{
                margin-right: 0;
                text-align: center;
                margin-top: 0;
                .divBotonesDetalleDescripcionProducto{
                    margin-bottom: 40px;
                }
            }
        }

        .divCarrito{
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            .divProductoCarrito{
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
                img{
                    width: 150px;
                    margin-right: 10px;
                    object-fit: cover;
                }       
                .divProductoCarritoEliminar{        //Tacho de basura
                    margin-left: 200px;
                    size: 10px;
                }
            }
            .divPagofinalCarrito{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
                p{
                    margin-bottom: 10px;
                    font-size: 24px;
                }
            }
        }

        .divLogin{
            .divFormLogin{
                width: 80%;
                padding: 20px;
                background-color: blanchedalmond; // COlor principal
                text-align: center;
                h2{
                    margin-bottom: 30px;
                }
                .divUserFormLogin,
                .divPassFormLogin{
                    margin-bottom: 20px;
                }
                .BotonBotonesFormLogin{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .BotonBotonesFormLogin{
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .divFormulario{     //ARREGLAR
            display: flex;
            flex-direction: column;
            align-items: center;
            .divContenedorFormulario{
                width: 90%;
                form{
                    display: flex;
                    flex-direction: column;
                    .divContenedorFormulario label,
                    .divContenedorFormulario input{
                        margin-bottom: 10px;
                    }
                }
            }
            .divMapaFormulario{
                width: 90%;
                margin-top: 20px;
                iframe,
                p{
                    width: 310px;
                    display: block;
                    margin: 10px auto;
                    font-size: 18px;
                }
            }
        }  
    }
}
